body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

a {
    color: #453674;
    text-decoration: none;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

a:visited {
    color: #3C275A;
}