/*
===================================================    
Title:  Assignment 9.2 - Final: Card Game
Author: Professor Krasso
Date:  19 December 2021
Modified By: Orawan Rabampho
Description: Display a deck of card and shuffle to display random order 
Source:  
CSS Grid Layout Module: https://www.w3schools.com/css/css_grid.asp 
CSS grid-gap Property: https://www.w3schools.com/cssref/pr_grid-gap.asp 
Material Design Icons: https://materialdesignicons.com/ 
Material Design Icons - Usage: https://cdn.materialdesignicons.com/5.4.55/ 
Inline Styles in HTML: https://www.codecademy.com/articles/html-inline-styles 
====================================================
*/

h1.app-header {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
 #player-card {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
 }

 


