/*
===================================================    
Title:  Assignment 4 - Number Guessing Game
Author: Professor Krasso
Date:  14 November 2021
Modified By: Orawan Rabampho
Description: Guessing number between 1 and 10
Source:  
====================================================
*/

h1.app-header {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}